@import "tailwindcss";

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-[100px] font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#93d3f3] via-[#00aaff] to-[#0067dd]
}

h2 {
  @apply text-[70px] font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#93d3f3] via-[#00aaff] to-[#0067dd]
}

.p-base {
    @apply text-lg text-gray-400
}

.button-primary {
  @apply text-2xl font-light text-black 
         bg-gradient-to-r from-[#00aaff] to-[#0067dd]
         rounded-lg px-8 py-3 hover:cursor-pointer 
         transform transition-transform duration-300 hover:scale-105;
}

.button-secondary {
  
}

.hero-social {
  @apply w-10 h-10 p-2 bg-gray-800 rounded-lg hover:cursor-pointer
         transform transition-transform duration-300 hover:scale-105;
}